.order-list {
    width: 100%;
    background: #fff;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
  }
  
  .order {
    width: 95%;
    margin: 10px auto;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
    border-radius: 5px;
  }

  
  .order small {
    display: block;
    width: 100%;
    padding: 5px;
    color: #888;
    padding-left: 30px;
    font-size: 14px;
    font-family: sans-serif;
  }